STRIPE_API_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PAYMENT_LINK=https://buy.athena.live/b/aFaaEQ0Ie54Td4Q1p6gA801
STRIPE_CUSTOM_LIST_PAYMENT_LINK=https://buy.athena.live/b/5kQeV69eKbth9SE7NugA82P
